<ion-header collapse="fade">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="/tabs/tab4"></ion-back-button>
        </ion-buttons>
        @if(guide(); as guide){
        <ion-title>{{guide.name}}</ion-title>
        }
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding flex flex-col gap-4">
    @if(guide(); as guide){
    <div class="whitespace-pre-line" [innerHTML]="guide.description"></div>
    @if(guide.calculator === Calculators.BLG){
    <ion-card>
        <ion-card-content> <app-calc-blg></app-calc-blg> </ion-card-content>
    </ion-card>
    } @if(guide.calculator === Calculators.SYRUP){
    <ion-card>
        <ion-card-content> <app-calc-glucose-syrup></app-calc-glucose-syrup> </ion-card-content>
    </ion-card>
    } @if(guide.guides.length){
    <div class="flex flex-wrap">
        @for(guideLink of guide.guides; track $index){
        <ion-chip [routerLink]="'/tabs/tab3/' + guideLink.slug" (click)="loadSlug(guideLink.slug)">{{guideLink.name}}</ion-chip>
        }
    </div>
    } }
</ion-content>
