<app-wine-header [wine]="wine()" [backUrl]="['/tabs', 'tab-production']"></app-wine-header>

<ion-content [fullscreen]="true" class="ion-padding">
    @if(wine(); as wine){
    <div class="flex flex-col gap-4">
        <app-wine-image-holder [wine]="wine" [collapsed]="collapsed()"></app-wine-image-holder>

        @if (!collapsed()) {
        <ion-list class="py-0 my-2">
            @for (parameter of parameters; track $index) { @if (parameter.format ? parameter.format($any(wine)[parameter.key]) :
            $any(wine)[parameter.key]; as value) {
            <ion-item>
                <ion-label> {{parameter.label}} </ion-label>
                <ion-text slot="end" class="truncate">{{value}}</ion-text>
            </ion-item>
            } }
            <ion-item>
                <ion-textarea
                    autocapitalize="sentences"
                    autocorrect="on"
                    label="Opis"
                    (ionChange)="wineService.editDescription(wine, $event.detail.value ?? '')"
                    [rows]="1"
                    [autoGrow]="true"
                    [value]="wine.description"
                >
                </ion-textarea>
            </ion-item>
        </ion-list>
        }

        <!-- <ion-fab-button size="small" class="mx-auto transition-all" (click)="collapsed.set(!collapsed())" [ngClass]="{'-rotate-180': !collapsed()}">
            <ion-icon name="chevron-down-outline"></ion-icon>
        </ion-fab-button> -->

        <app-ingredients [ingredients]="wine.recipe.ingredients"></app-ingredients>

        <div>
            <ion-card-title>Następny etap</ion-card-title>

            <ion-card class="mx-0">
                <ion-card-header>
                    <div class="flex gap-2 items-center">
                        <ion-card-title> {{nearestStage.info?.name}} </ion-card-title>

                        <ion-datetime-button datetime="datetime"></ion-datetime-button>
                        <ion-modal [keepContentsMounted]="true">
                            <ng-template>
                                <ion-datetime
                                    id="datetime"
                                    presentation="date"
                                    [value]="nearestStage.date"
                                    [showDefaultButtons]="true"
                                    [min]="getEarlierStageDate(wine) | date: 'YYYY-MM-dd'"
                                    doneText="Potwierdź"
                                    cancelText="Anuluj"
                                    (ionChange)="changeDate(wine, $event)"
                                ></ion-datetime>
                            </ng-template>
                        </ion-modal>
                    </div>
                </ion-card-header>

                <ion-card-content class="flex flex-col gap-2 items-start">
                    @if(nearestStage.info?.name === ProductionStage.Preparation && mustAddSugar()){

                    <!--=============================== PREPARATION =============================-->
                    <div class="whitespace-pre-line" [innerHTML]="wine.recipe.productStages[0].description"></div>
                    <div class="whitespace-pre-line" [innerHTML]="DESCRIPTIONS.Preparation"></div>
                    <ion-chip [routerLink]="['/tabs','tab-guides','pomiar-cukromierzem-blg']">Pomiar cukromierzem BLG</ion-chip>

                    <div>
                        <ion-input
                            label="BLG roztworu"
                            type="number"
                            min="0"
                            placeholder="Wpisz..."
                            [required]="true"
                            [(ngModel)]="blg"
                            [ngModelOptions]="{ standalone: true }"
                        ></ion-input>
                        <ion-input
                            label="Waga litra roztworu (gramy)"
                            type="number"
                            min="0"
                            placeholder="Wpisz..."
                            [required]="true"
                            [(ngModel)]="literWeight"
                            [ngModelOptions]="{ standalone: true }"
                        ></ion-input>
                        <ion-input
                            label="Litraż moszczu (litry)"
                            type="number"
                            min="0"
                            placeholder="Wpisz..."
                            [required]="true"
                            [(ngModel)]="mustCapacity"
                            [ngModelOptions]="{ standalone: true }"
                        ></ion-input>
                        <ion-input
                            label="Początkowy cukier (gramy)"
                            type="number"
                            min="0"
                            [required]="true"
                            [value]="roundDecimal(((blg ?? 0 ) * (mustCapacity ?? 0) / 100) * literWeight)"
                            [disabled]="true"
                        ></ion-input>
                    </div>

                    <div class="flex justify-end w-full">
                        <ion-button (click)="changeSugarAccept(wine)" [disabled]="!mustCapacity">Zatwierdź</ion-button>
                    </div>
                    } @else if (nearestStage.info?.name === ProductionStage.StopFermentation &&!isFermentationFinished()) {

                    <!--=============================== STOP FERMENTATION =============================-->
                    <div class="whitespace-pre-line" [innerHTML]="DESCRIPTIONS.StopFermentation"></div>
                    <div class="font-semibold">Czy drożdże zakończyły już swoją pracę?</div>
                    <div class="flex justify-between">
                        <ion-button (click)="changeStageToDrainage(wine)">Nie</ion-button>
                        <ion-button (click)="isFermentationFinished.set(true)">Tak</ion-button>
                    </div>
                    } @else if (nearestStage.info?.name === ProductionStage.Bottling && !isWineClear()) {

                    <!--=============================== BOTTLING =============================-->
                    <div class="font-semibold">Czy wino jest klarowne i na dnie gąsiora nie zbiera się już osad?</div>
                    <div class="flex justify-start pt-1">
                        <ion-button (click)="changeStageToDrainage(wine)">Nie</ion-button>
                        <ion-button (click)="isWineClear.set(true)">Tak</ion-button>
                    </div>
                    } @else {

                    <!--=============================== NORMAL STAGE =============================-->
                    <div class="whitespace-pre-line" [innerHTML]="getStageDescription(wine)"></div>
                    @if (nearestStage.info?.name === ProductionStage.Preparation || nearestStage.info?.name === ProductionStage.Straining) {
                    <app-calc-glucose-syrup
                        [disableSugarEdit]="true"
                        [sugar]="getHalfSugar(wine)"
                        [capacity]="getHalfSugar(wine)"
                    ></app-calc-glucose-syrup>
                    }

                    <div class="flex flex-wrap">
                        @for(guide of nearestStage.info?.guides; track $index){
                        <ion-chip [routerLink]="['/tabs','tab-guides',slugify(guide)]">{{guide}}</ion-chip>
                        }
                    </div>

                    <div class="flex justify-between w-full">
                        <div>
                            @if (nearestStage.index) {
                            <ion-button (click)="undoStage(wine)">Cofnij etap</ion-button>
                            }
                        </div>
                        <ion-button (click)="doStage(wine)">Etap wykonany</ion-button>
                    </div>
                    }
                </ion-card-content>
            </ion-card>
        </div>

        <app-stages [productStages]="wine.recipe.productStages" [wine]="wine" [showCheckbox]="true"></app-stages>
    </div>
    }
</ion-content>
