<ion-header collapse="fade">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="/tabs/tab-production" />
        </ion-buttons>
        @if(wine(); as wine){
        <ion-title>{{wine.name}}</ion-title>
        <div
            slot="end"
            [id]="'present-alert'"
            class="flex justify-center items-center size-12 mr-1"
            (click)="$event.preventDefault(); $event.stopPropagation()"
        >
            <ion-icon name="trash-outline"></ion-icon>
        </div>
        <ion-alert
            [trigger]="'present-alert'"
            [header]="'Czy na pewno chcesz usunąć ' + wine.name + '?'"
            [buttons]="alertButtons"
            (didDismiss)="setResult($event, wine.id)"
        ></ion-alert>
        }
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    @if(wine(); as wine){
    <div class="flex flex-col gap-4">
        <div
            class="relative border-dashed rounded-lg overflow-hidden"
            [ngClass]="{'border-4 border-neutral-300 bg-neutral-500': !wine.imageBase64}"
            (click)="imageHolderClicked()"
        >
            <image-holder
                [url]="wine.imageBase64 ?? 'assets/example-wine.jpg'"
                [ratio]="wine.imageBase64 ? 3/4 : 2/1"
                [ngClass]="{'grayscale opacity-60': !wine.imageBase64}"
            />
            @if (!wine.imageBase64) {
            <ion-icon class="absolute inset-0 m-auto text-neutral-300 shadow-2xl size-20" name="camera-outline" />
            } @if (wine.imageBase64) {
            <div
                class="bg-neutral-800 absolute bottom-4 right-4 rounded-full size-12 flex justify-center items-center opacity-70"
                (click)="takePhoto()"
            >
                <ion-icon class="text-white shadow-2xl size-8" name="camera-outline"></ion-icon>
            </div>
            }
        </div>

        <ion-list class="py-0 my-2">
            @for (parameter of parameters; track $index) { @if (parameter.format ? parameter.format($any(wine)[parameter.key]) :
            $any(wine)[parameter.key]; as value) {
            <ion-item>
                <ion-label> {{parameter.label}} </ion-label>
                <ion-text slot="end" class="truncate">{{value}}</ion-text>
            </ion-item>
            } }
            <ion-item>
                <ion-textarea
                    label="Opis"
                    (ionChange)="editDescription($event.detail.value ?? '')"
                    [rows]="1"
                    [autoGrow]="true"
                    [value]="wine.description"
                >
                </ion-textarea>
            </ion-item>
        </ion-list>
        <div>
            <ion-card-title>Składniki</ion-card-title>
            <ion-list class="py-0 my-2">
                @if (wine.recipe?.ingredients?.length; as ingredientsLength) { @for (ingredient of wine.recipe?.ingredients ?? []; track $index) {
                <ion-item [lines]="$index === ingredientsLength -1 ? 'none' : ''">
                    {{ingredient.name}} - {{ingredient.value}} {{ingredient.unit}}
                </ion-item>
                } }
            </ion-list>
        </div>
    </div>
    }
</ion-content>
