<app-header header="Moje nastawy" (searchChanged)="searchValue.set($event)"></app-header>

<ion-content [fullscreen]="true">
    @if ((wines() | search: {param: ['name', 'description'], search: searchValue()}); as wines) { @if (wines.length) { @for (wine of wines; track
    $index) {
    <ion-card [routerLink]="'/tabs/tab-production/' + wine.id">
        <image-holder
            [url]="wine.imageBase64 ?? 'assets/example-wine.jpg'"
            [ratio]="2/1"
            [ngClass]="{'grayscale opacity-80': !wine.imageBase64}"
        ></image-holder>
        <ion-card-header>
            <ion-card-title>{{wine.name}} {{wine.capacity}} l</ion-card-title>
            <ion-card-subtitle>{{wine.createDate | date: 'dd-MM-YYYY'}} </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <div class="line-clamp-3 whitespace-pre-line" [innerHTML]="wine.description"></div>
        </ion-card-content>
    </ion-card>
    } } @else {
    <no-data></no-data>
    } }
    <div class="h-16"></div>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button routerLink="/tabs/tab-production/add-wine">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
