<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab-production" href="/tabs/tab-production">
            <ion-icon aria-hidden="true" name="funnel"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="tab-wines" href="/tabs/tab-wines">
            <ion-icon aria-hidden="true" name="wine"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="tab-recipes" href="/tabs/tab-recipes">
            <ion-icon aria-hidden="true" name="book"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="tab-guides" href="/tabs/tab-guides">
            <ion-icon aria-hidden="true" name="school"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
