<app-header header="Moje wina" (searchChanged)="searchValue.set($event)"></app-header>

<ion-content [fullscreen]="true">
    @if ((wines() | search: {param: ['name', 'description'], search: searchValue()}); as wines) { @if (wines.length) { @for (wine of wines; track
    $index) {
    <ion-card>
        <img alt="Zdjęcie wina" [src]="wine.imageBase64 ?? 'assets/empty-image.png'" />
        <ion-card-header>
            <ion-card-title>{{wine.name}}</ion-card-title>
            <ion-card-subtitle>{{wine.createDate | date: 'dd-MM-YYYY'}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <div class="line-clamp-3 whitespace-pre-line" [innerHTML]="wine.description"></div>
        </ion-card-content>
    </ion-card>
    } } @else {
    <no-data></no-data>
    } }
</ion-content>
