<app-header header="Przepisy" (searchChanged)="searchValue.set($event)"></app-header>

<ion-content [fullscreen]="true">
    @if ((recipes() | search: {param: ['name'], search: searchValue()}); as recipes) { @if (recipes.length) { @for (recipe of recipes; track $index) {
    <ion-card [routerLink]="'/tabs/tab-recipes/' + recipe.slug">
        <ion-card-header>
            <div class="flex justify-between">
                <ion-card-title>{{recipe.name}}</ion-card-title>
                @if (recipe.manualAdded) {
                <div
                    [id]="'present-alert-'+$index"
                    class="flex justify-center items-center size-12 -m-4"
                    (click)="$event.preventDefault(); $event.stopPropagation()"
                >
                    <ion-icon name="trash-outline"></ion-icon>
                </div>
                <ion-alert
                    [trigger]="'present-alert-'+$index"
                    [header]="'Czy na pewno chcesz usunąć ' + recipe.name + '?'"
                    [buttons]="alertButtons"
                    (didDismiss)="setResult($event, recipe.slug)"
                ></ion-alert>
                }
            </div>
        </ion-card-header>
        <ion-card-content>
            Składniki na 10 litrów:
            <ul>
                @for (ingredient of recipe.ingredients; track $index) {
                <li class="list-disc ml-4">{{ingredient.name}} - {{ingredient.value}} {{ingredient.unit}}</li>
                }
            </ul>
        </ion-card-content>
    </ion-card>
    } } @else {
    <no-data></no-data>
    } }
    <div class="h-16"></div>

    <ion-fab horizontal="end" vertical="bottom" slot="fixed" routerLink="/tabs/tab-recipes/add-recipe">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
