<app-header header="Przepisy" (searchChanged)="searchValue.set($event)"></app-header>

<ion-content [fullscreen]="true">
    @if ((recipes() | search: {param: ['name'], search: searchValue()}); as recipes) { @if (recipes.length) { @for (recipe of recipes; track $index) {
    <ion-card [routerLink]="'/tabs/tab-recipes/' + recipe.slug">
        <ion-card-header>
            <ion-card-title>{{recipe.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Składniki na 10 litrów:
            <ul>
                @for (ingredient of recipe.ingredients; track $index) {
                <li class="list-disc ml-4">{{ingredient.name}} - {{ingredient.value}} {{ingredient.unit}}</li>
                }
            </ul>
        </ion-card-content>
    </ion-card>
    } } @else {
    <no-data></no-data>
    } }

    <ion-fab horizontal="end" vertical="bottom" slot="fixed" routerLink="/tabs/tab-recipes/add-recipe">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
