<ion-header collapse="fade">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="/tabs/tab-production"></ion-back-button>
        </ion-buttons>
        <ion-title>Nowe wino</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <create-recipe [form]="form" (formChanged)="form = $event"></create-recipe>
    @if(keyboardService.isKeyboardOpen()){
    <ion-button class="w-full mt-4" size="large" (click)="next()">Dodaj</ion-button>
    }
</ion-content>

@if(!keyboardService.isKeyboardOpen()){
<ion-footer>
    <ion-toolbar>
        <ion-button class="w-full ion-padding-horizontal" size="large" (click)="next()">Dalej</ion-button>
    </ion-toolbar>
</ion-footer>
}
