<ion-header collapse="fade">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="/tabs/tab-production"></ion-back-button>
        </ion-buttons>
        <ion-title>Nowe wino</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <create-recipe (formChanged)="form = $event"></create-recipe>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button class="w-full ion-padding-horizontal" size="large" [disabled]="!form.valid" (click)="next()">Dalej</ion-button>
    </ion-toolbar>
</ion-footer>
