<ion-header collapse="fade">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" defaultHref="/tabs/tab-recipes"></ion-back-button>
        </ion-buttons>
        @if(recipe(); as recipe){
        <ion-title>{{recipe.name}}</ion-title>
        @if(recipe.manualAdded){
        <div
            slot="end"
            [id]="'present-alert-recipe'"
            class="flex justify-center items-center size-12 mr-1"
            (click)="$event.preventDefault(); $event.stopPropagation()"
        >
            <ion-icon name="trash-outline"></ion-icon>
        </div>
        <ion-alert
            [trigger]="'present-alert-recipe'"
            [header]="'Czy na pewno chcesz usunąć ' + recipe.name + '?'"
            [buttons]="alertButtons"
            (didDismiss)="setResult($event, recipe.slug)"
        ></ion-alert>
        } }
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    @if(recipe(); as recipe){
    <ion-card-title>Składniki na 10 litrów:</ion-card-title>
    <ion-list class="py-0 my-2">
        @for (ingredient of recipe.ingredients; track $index) {
        <ion-item [lines]="$index === recipe.ingredients.length -1 ? 'none' : ''">
            {{ingredient.name}} - {{ingredient.value}} {{ingredient.unit}}
        </ion-item>
        }
    </ion-list>
    <ion-card-title class="mt-4">Etapy produkcji:</ion-card-title>
    @for (stage of recipe.productStages; track $index) {
    <ion-card class="mx-0">
        <ion-card-header>
            <ion-card-title>Dzień {{ stage.date / 86400000 + 1 }}: {{ stage.name }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <div class="whitespace-pre-wrap" [innerHTML]="stage.description"></div>
        </ion-card-content>
    </ion-card>
    } }
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button class="w-full ion-padding-horizontal" size="large" (click)="addWine()">Stwórz wino</ion-button>
    </ion-toolbar>
</ion-footer>
