<app-header header="Moje wina" (searchChanged)="searchValue.set($event)"></app-header>

<ion-content [fullscreen]="true">
    @if ((wines() | search: {param: ['name', 'description'], search: searchValue()}); as wines) { @if (wines.length) { @for (wine of wines; track
    $index) {
    <ion-card [routerLink]="['/tabs','tab-wines', wine.id]" [ngClass]="{'opacity-50' : !wine.numberOfBottles}">
        <image-holder [url]="wine.imageBase64 ?? 'assets/example-wine.jpg'" [ratio]="2/1" [ngClass]="{'grayscale opacity-80': !wine.imageBase64}" />
        <ion-card-header>
            <ion-card-title>{{wine.name}} {{wine.createDate | date: 'YYYY'}}</ion-card-title>
            <ion-card-subtitle>
                @if (wine.numberOfBottles) { {{ wine.numberOfBottles }} {{wordVariations.getWord('butelki', wine.numberOfBottles)}} } @else {
                Niedostępne }
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <div class="line-clamp-3 whitespace-pre-line" [innerHTML]="wine.description"></div>
        </ion-card-content>
    </ion-card>
    } } @else {
    <div class="flex flex-col justify-center text-center">
        <no-data />
        <ion-text class="px-4" color="medium"> Tu pojawią się wina, które zostaną przez ciebie wyprodukowane. </ion-text>
    </div>
    } }
    <div class="h-16"></div>
</ion-content>
