<div
    class="relative border-dashed rounded-lg overflow-hidden"
    [ngClass]="{ 'border-4 border-neutral-300 bg-neutral-500': !wine().imageBase64 }"
    (click)="wineService.imageHolderClicked(wine())"
>
    <image-holder
        [url]="wine().imageBase64 ?? 'assets/example-wine.jpg'"
        [ratio]="wine().imageBase64 ? 3 / 4 : 2 / 1"
        [ngClass]="{ 'grayscale opacity-60': !wine().imageBase64 }"
    />
    @if (!wine().imageBase64) {
        <ion-icon class="absolute inset-0 m-auto text-neutral-300 shadow-2xl size-20" name="camera-outline" />
    }
    @if (wine().imageBase64) {
        <div
            class="bg-neutral-800 absolute bottom-4 right-4 rounded-full size-12 flex justify-center items-center opacity-70"
            (click)="wineService.takePhoto(wine())"
        >
            <ion-icon class="text-white shadow-2xl size-8" name="camera-outline"></ion-icon>
        </div>
    }
</div>
