<app-header header="Poradniki" (searchChanged)="searchValue.set($event)"></app-header>

<ion-content [fullscreen]="true">
    @if ((guides() | search: {param: ['name', 'description'], search: searchValue()}); as guides) { @if (guides.length) { @for (guide of guides; track
    $index) {
    <ion-card [routerLink]="'/tabs/tab-guides/' + guide.slug">
        <ion-card-header>
            <ion-card-title>{{guide.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <div class="line-clamp-5 whitespace-pre-line" [innerHTML]="guide.description"></div>
        </ion-card-content>
    </ion-card>
    } } @else {
    <no-data></no-data>
    } }
    <div class="h-16"></div>
</ion-content>
